@import 'tailwindcss';

@theme {
  --color-arsenic: #11181c;
  --color-white-smoke: #f6f5f4;
  --font-logo: 'Britney', cursive;
  --font-heading: 'Melodrama', serif;
  --font-body: 'Nunito', sans-serif;
}

body {
  background-color: var(--color-white-smoke);
  color: var(--color-arsenic);
  font-family: var(--font-body);

  @apply relative h-full w-full;
}

.pattern-background {
  @apply absolute top-0 h-[900px] left-0 right-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)];
}
